* {
    font-family: "Raleway", sans-serif;
}

header {
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: darkorange;

}

header a {
    color: white;
}

header a > img {
    width: 30px;
}

a {
    text-decoration: none;
}

#boolean-logo {
    width: 175px;
    padding-right: 100px;
}

body {
    
}

.bloccoartic {
    display: flex;
    width: ;
}